<div>
    <div class="title-centered">Reset Password</div>
    <div class="title-centered-subtext">
        <a class="title-centered-subtext-link" routerLink="/login">Back to Login Page</a>
    </div>

    <div class="form-split">
        <form class="form-centered form-container" (ngSubmit)="sendResetLink()" #resetForm="ngForm">
            <div class="form-field">
                <div [hidden]="!submissionError" class="form-error">{{submissionError}}</div>
            </div>
            <div class="form-field">
                <label class="form-label" for="resetEmail">Email Address</label><br>
                <input class="form-input" placeholder="..." type="text" [(ngModel)]="fields.email" name="email" #email="ngModel" id="resetEmail">
            </div>

            <button class="form-action" type="submit">Send Reset Link</button>
        </form>
    </div>


</div>