@import "../../mixins.scss";
@import '../../screens.scss';

//.side-img-container {
//    position: fixed;
//    top: 0;
//    left: 0;
//    height: 100%;
//    width: 100%;
//}

.side-img {
    position: fixed;
    bottom: 0;
    left: -20em;
    top: -3em;
    z-index: -923;
    opacity: 0.1;
}

.top-area-split {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media #{$large-up} {
        flex-direction: row;
    }

    .website-info {
        padding-right: 4em;
        padding-bottom: 2em;
        flex: 4;
        line-height: 3em;

        .info-heading {
            font-size: 2em;

            .fa {
                padding-right: 0.3em;
            }
        }

        .info-text {
            margin-bottom: 2em;
            line-height: 2em;
        }
    }

    .sign-up-form {
        flex: 3;
    }
}