<!-- implements: #SPC-landing -->

<img src="./img/door-light.jpg" alt="" class="side-img">

<div class="top-area-split">
    <!-- implements: #SPC-landing-site_description -->
    <div class="website-info">

        this is a dev build

        <div class="info-heading">
            <i class="fa fa-simplybuilt" aria-hidden="true"></i> Simple concept
        </div>

        <div class="info-text">
            Find the secret word in order to proceed to the next level.
        </div>

        <div class="info-heading">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i> 50 Challenging levels
        </div>

        <div class="info-text">
            Experience the thrill of completing levels designed to stimulate your brain.
        </div>

        <div class="info-heading">
            <i class="fa fa-list-ol" aria-hidden="true"></i> Hall of Fame
        </div>

        <div class="info-text">
            Only a few will be able to complete the game and have their name featured in the <a class="info-link">Hall of Fame</a>.
        </div>

        <div class="info-heading">
            <i class="fa fa-child" aria-hidden="true"></i> Free forever
        </div>

        <div class="info-text">
            No paid features, no ads. Pure fun.
        </div>
    </div>

    <div *ngIf="!(user | async)" class="sign-up-form">
        <sign-up-form></sign-up-form>
    </div>
</div>


<section class="page-container">
</section>