<div *ngIf="levels | async">
    <div class="title-centered">Levels</div>

    <div class="level-list-container">
        <div class="headers">
            <div class="header-item">#</div>
            <div class="header-item">Name</div>
            <div class="header-item">Solved by You</div>
            <div class="header-item">Times Solved</div>
        </div>

        <div *ngFor="let level of (levels | async)" class="sublevel">
            <div class="level-item">{{level.levelNumber}}</div>
            <div class="level-item">
                <a *ngIf="level.unlocked" class="level-link" [routerLink]="['/level', level.levelIndex, level.sublevelIndex]" href="">{{level.title}}</a>
                <span *ngIf="!level.unlocked" class="level-locked-label">LOCKED</span>
            </div>
            <div class="level-item">{{level.solvedCurrentUser ? 'Yes' : 'No'}}</div>
            <div class="level-item">{{level.solvedTotal}}</div>
        </div>
    </div>
</div>