@import "../../mixins.scss";

@include centered-layout();
@include form-large();

.form-centered {
    width: 40%;
    margin: 2em auto 0;
}

.basic-link {
    @include link();
    text-decoration: underline;
}