<div>
    <div class="title-centered">All levels complete!</div>
    <div class="title-centered-subtext">
        Write your name and a comment of your choice for the Hall of Fame.
    </div>

    <div class="form-centered">
        <form class="form-container" (ngSubmit)="submitHofInfo()" #hofForm="ngForm">
            <div class="form-field">
                <div [hidden]="!submissionError" class="form-error">{{submissionError}}</div>
            </div>
            <div class="form-field">
                <label class="form-label" for="hofNickname">Name</label><br>
                <input class="form-input" placeholder="..." type="text" [(ngModel)]="fields.nickname" name="nickname" #nickname="ngModel" id="hofNickname">
            </div>

            <!-- Implements: #SPC-hof-form-comment -->
            <div class="form-field">
                <label class="form-label" for="hofComment">Comment</label><br>
                <input class="form-input" placeholder="..." type="text" [(ngModel)]="fields.comment" name="comment" #comment="ngModel" id="hofComment">
            </div>

            <button class="form-action" type="submit">Submit</button>
        </form>
    </div>
    <div class="title-centered-subtext">
        Please consider making a donation in order to help us pay for hosting the website and keep Truly Kryptic online. Click <a href="https://web.facebook.com/trulykryptic/app/117708921611213/" target="_blank">here</a> to donate through our Facebook page (opens in new tab).
    </div>
</div>