<div style="background: orange">
    <h2>Sign Up</h2>

    <form (ngSubmit)="emailSignUp()" #signUpForm="ngForm">
        <div>
            <label for="signUpEmail">Email Address</label><br>
            <input type="text" [(ngModel)]="form.email" name="email" #email="ngModel" id="signUpEmail">
        </div>
        <div>
            <label for="signUpPassword">Password</label><br>
            <input type="password" [(ngModel)]="form.password" name="password" #password="ngModel" id="signUpPassword">
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <br>
    <br>

    <provider-auth></provider-auth>

</div>