@import '../../mixins';

.delete {
  cursor: pointer;
  color: map-get($colors, primary);
  font-size: 1.2em;
  margin-top: 1em;
  display: inline-block;
  min-width: 6em;
  border: none;
  width: 25%;

  @include hover-brighten-displace(map-get($colors, light), 0.6em);
}