<div class="level-number-title">
    <div class="level-prev">
        <a *ngIf="prevLevelLink | async" [routerLink]="prevLevelLink | async">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    </div>
    <div class="level-number">Level {{levelNumber | async}}</div>
    <div class="level-next">
        <a *ngIf="nextLevelLink | async" [routerLink]="nextLevelLink | async">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    </div>
</div>

level content goes here