<div (window:keydown)="onKey($event.keyCode)" class="level-area" [class.transparent]="!(basicInfo | async)">

    <div class="level-top-bar">
        <div class="level-nav-title">
            <div class="level-prev">
                <a [attr.disabled]="!(prevIndices | async) || undefined" (click)="openLevelLink(prevIndices)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            </div>
            <div class="level-title">{{(basicInfo | async) && (basicInfo | async).title}}</div>
            <div class="level-next">
                <a [attr.disabled]="!(completedWithAnswer | async) || undefined" (click)="openNextLevelIfCompleted()">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i *ngIf="!(completedWithAnswer | async)" class="fa fa-lock" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="level-number">Level&nbsp;{{(basicInfo | async) && (basicInfo | async).levelNumber}}</div>
    </div>

    <!-- Implements: #SPC-level-hint -->
    <div class="hint-area">
        <div *ngFor="let hint of (hints | async); index as index" class="hint">
            <div class="hint-number">Hint {{index + 1}}</div>

            <div class="hint-body">
                <div *ngIf="hint.triggers && hint.triggers.length > 0" class="hint-triggers">
                    <div class="hint-unlockedby">
                        Unlocked by guess:
                    </div>
                    <div class="hint-trigger" *ngFor="let trigger of hint.triggers">
                        {{trigger}}
                    </div>
                </div>

                <div class="hint-text" *ngIf="hint.text">{{hint.text}}</div>
                <a *ngIf="hint.image" [href]="imgHintDir + hint.image" target="_blank">
                    <div class="hint-image" [style.background-image]="getBackgroundUrl(hint.image)"></div>
                </a>

                <audio controls="controls" class="hint-audio" *ngIf="hint.audio">
                    Your browser does not support the <code>audio</code> element.
                    <source [src]="imgHintDir + hint.audio" type="audio/mp3">
                </audio>
            </div>
        </div>
    </div>

    <form [class.level-completed]="completedWithAnswer | async" class="submit-answer-form" (ngSubmit)="submitAnswer()" #answerForm="ngForm">
        <div class="form-field">
            <div [hidden]="!submissionError" class="form-error">{{submissionError}}</div>
        </div>

        <div [hidden]="(completedWithAnswer | async)">
            <input class="form-input" [class.wrong-guess-animation]="submissionStatus == 'wrong'" maxlength="25"
                autocomplete="off" type="text" [(ngModel)]="fields.answer" name="text" #answer="ngModel" id="answer"
                (blur)="inputFocused = false" (focus)="inputFocused=true">

            <button [disabled]="submissionStatus == 'waiting' || undefined" type="submit">Submit answer</button>
        </div>

        <div [hidden]="!(completedWithAnswer | async)">
            <input [hidden]="!(completedWithAnswer | async)" class="form-input" disabled="true" [value]="completedWithAnswer | async">

            <button (click)="openNextLevelIfCompleted(); false" class="level-continue-next">Next level</button>
        </div>
    </form>

    <!-- Implements: #SPC-level-guesses -->
    <div class="previous-guesses" *ngIf="(guesses | async) && (guesses | async).length > 0">
        <div class="title">
            Previous guesses:
        </div>

        <span *ngFor="let guess of (guesses | async)" [class.guess-answer]="guess.isAnswer"
            [class.guess-trigger]="guess.unlocksHint" 
            [class.wrong-guess-animation]="guess.value == latestWrongGuess" class="guess"> {{guess.value}} </span>  
    </div>

    <hr size="1">
    <!-- Like button -->
    <div class="like">
        <iframe src="//www.facebook.com/plugins/like.php?href=https://www.facebook.com/trulykryptic/&amp;layout=standard&amp;
		show_faces=false&amp;width=440&amp;action=like&amp;colorscheme=dark&amp;height=30&amp;share=true"
                scrolling="no" frameborder="0"></iframe>
    </div>
</div>