@import "../../mixins.scss";

// so we can focus an input while it's hidden
.transparent {
    opacity: 0;
    filter: alpha(opacity = 0);
}

.level-area {
    // padding: 0 20%;
    margin-bottom: 4em;
}

.level-top-bar {
    display: flex;
    justify-content: space-between;
}

.level-nav-title {
    display: flex;
    font-size: $font-xlarge;

    // text-align: center;
    justify-content: flex-start;

    .level-title {
        padding: 0 1em;
    }

    .level-next, .level-prev {
        & a {
            @include link;
        }
    }

    .level-prev {
        text-align: right;
    }

    .level-next {
        text-align: left;
    }
}

.level-number {
    font-size: $font-xlarge;
}

.hint-area {
    margin-top: 2em;

    .hint {
        margin-bottom: 2em;
        display: flex;

        .hint-number {
            background: lighten(map-get($colors, primary), 5);
            padding: 0.5em;
            text-orientation: sideways;
            writing-mode: vertical-lr;
            line-height: 2em;
            width: 2em;
            font-size: $font-small;
        }

        .hint-unlockedby {
            font-size: $font-small;
            margin-bottom: 0.2em;
        }

        .hint-trigger {
            margin-bottom: 0.2em;
            font-weight: bold;
        }

        .hint-body {
            flex: 1;
            padding-left: 1em;

            .hint-triggers {
                // margin-bottom: 1em;
                // margin-top: 1em;
            }
        }

        .hint-image {
            width: 100%;
            height: calc(28vw);
            background-size: contain;

            // background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: left top;
        }

        .hint-text {
            font-size: $font-large;
            padding: 0.5em 0;
        }
    }
}

.submit-answer-form {
    // background: rgba(0, 0,0, 0.7);
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    // box-sizing: border-box;
    // padding: 1em;
    margin-bottom: 1em;

    // text-align: center;

    input, button {
        padding: 0.8em;
        margin: 0;
        border: none;
        font-family: inherit;
        outline: none;
        font-size: $font-small;
    }

    input {
        margin-right: 1em;
        color: map-get($colors, light);
        background: map-get($colors, primary);
        box-sizing: border-box;
        border: 0.05em solid rgba(map-get($colors, secondary), 0.3);

        &:focus {
            border: 0.05em solid rgba(map-get($colors, secondary), 0.6);
        }
    }

    button {
        background: map-get($colors, light);

        &[disabled] {
            background: darken(map-get($colors, light), 20%);
        }
    }

    &.level-completed {
        .form-input {
            background: lighten(map-get($colors, primary), 5);
            border: 0.05em solid rgba(map-get($colors, secondary), 0.3);
        }
    }
}

.wrong-guess-animation {
    @include shake-anim();
}

.previous-guesses {
    .title {
        font-size: $font-medium;
        margin-bottom: 0.5em;
        margin-top: 1.1em;
    }

    .guess {
        background: lighten(map-get($colors, primary), 5);
        border: 0.05em none rgba(map-get($colors, secondary), 0.3);
        padding: .3em;
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1em;

        &.guess-trigger {
            border-style: dashed;
        }

        &.guess-answer {
            border-style: solid;
        }
    }
}

hr {
    color: lighten(map-get($colors, primary), 40%);
}

.like {
    text-align: center;
    width: 100%;
}

iframe {
    border: none;
    overflow: hidden;
    height: 30px;
    vertical-align: center;
    @media(min-width: 360px) {
        padding-left: 15vw;
    }
    @media(min-width: 768px) {
        padding-left: 8vw;
    }
}

a:hover {
    cursor: default;
}