<!-- implements: #SPC-nav_bar -->
<nav [class.shrink]="toggleShrink()">
    <div class="burgermenu-container">
        <div class="burgermenu"></div>
        <div class="burgermenu"></div>
        <div class="burgermenu"></div>
        <div class="burger-dropdown">
            <div routerLink="/account" routerLinkActive="active" *ngIf="user | async" class="burger-items">Account settings</div>
            <div routerLink="/getting-started" routerLinkActive="active" class="burger-items">Getting started</div>
            <div routerLink="/hof" routerLinkActive="active" class="burger-items">Hall of Fame</div>
            <div routerLink="/login" routerLinkActive="active" *ngIf="!(user | async)" class="burger-items">Log in</div>
            <div routerLink="/level-list" routerLinkActive="active" *ngIf="user | async" class="burger-items">Levels</div>
            <div *ngIf="user | async" (click)="signOut()" class="burger-items">Sign out</div>
        </div>
    </div>
    <i class="fa fa-user-circle menu" aria-hidden="true" id="user"
       routerLink="/account" routerLinkActive="active" *ngIf="user | async">
        <div class="dropdown-menu">
            <div routerLink="/account" routerLinkActive="active">Settings</div>
            <div (click)="signOut()">Sign out</div>
        </div>
    </i>
    <div [routerLink]="currentLevelLink | async" routerLinkActive="active" *ngIf="user | async" class="menu">Play</div>
    <div routerLink="/level-list" routerLinkActive="active" *ngIf="user | async" class="menu">Levels</div>
    <div routerLink="/login" routerLinkActive="active" *ngIf="!(user | async)" class="menu">Log In</div>
    <div routerLink="/hof" routerLinkActive="active" class="menu">Hall of Fame</div>
    <div routerLink="/getting-started" routerLinkActive="active" class="menu">Getting started</div>
    <img src="../../../img/logo.png" routerLink="/" routerLinkActive="active" id="logo"/>
</nav>