<!-- implements: #SPC-nav_bar -->
<nav [class.shrink]="toggleShrink()">
    <div class="burgermenu-container">
        <div class="burgermenu"></div>
        <div class="burgermenu"></div>
        <div class="burgermenu"></div>
        <div class="burger-dropdown">
            <div routerLink="/gettingstarted" routerLinkActive="active" class="burger-items">Getting started</div>
            <div routerLink="/hof" routerLinkActive="active" class="burger-items">Hall of Fame</div>
            <div routerLink="/login" routerLinkActive="active" *ngIf="!(user | async)" class="burger-items">Sign in</div>
            <div routerLink="/levels" routerLinkActive="active" *ngIf="user | async" class="burger-items">Levels</div>
        </div>
    </div>
    <i class="fa fa-user-circle menu" aria-hidden="true" id="user"
       routerLink="/account" routerLinkActive="active" *ngIf="user | async">
        <div class="dropdown-menu">
            <div>Settings</div>
            <div>Sign out</div>
        </div>
    </i>
    <div routerLink="/levels" routerLinkActive="active" *ngIf="user | async" class="menu">Levels</div>
    <div routerLink="/login" routerLinkActive="active" *ngIf="!(user | async)" class="menu">Log In</div>
    <div routerLink="/hof" routerLinkActive="active" class="menu">Hall of Fame</div>
    <div routerLink="/gettingstarted" routerLinkActive="active" class="menu">Getting started</div>
    <img src="../../../img/logo.png" routerLink="/" routerLinkActive="active" id="logo"/>
</nav>