@import '../../variables';

nav {
  height: 70px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
  top: 0 !important;
}

#logo {
  top: 0 !important;
  padding: 20px;
  height: 40px;
  width: 200px;
  transition: all ease .5s;
}

#user {
  font-size: 30px;
}

.menu {
  color: map-get($colors, light);
  font-size: 22px;
  display: inline-block;
  float: right;
  padding: 20px;
  height: 30px;
  transition: all ease .5s;
  cursor: pointer;
}

.menu:hover  {
  color: map-get($colors, secondary);
}

nav.shrink {
  height: 60px;
  transition: all ease .5s;
  background: map-get($colors, dark); // Change background to black on scroll
}

nav.shrink #logo {
  padding-top: 10px;
  transition: all ease .5s;
}

nav.shrink .menu {
  padding-top: 15px;
  transition: all ease .5s;
  height: 10px !important;
}