@import '../../variables.scss';
@import '../../mixins.scss';

@mixin provider($color) {
    color: map-get($colors, primary);
    background: $color;
    border: none;
    font-size: 1.2em;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

    @media #{$medium-only} {
        // margin: 0 0.5em;
        width: 49%;
    }

    .provider-name {
        font-weight: bold;
        color: $color;
    }

    .fa {
        text-align: center;
        width: 2.3em;
        color: $color;
    }

    @include hover-brighten-displace(map-get($colors, light), 1em);
}

.provider-google {
    @include provider(map-get($colors, google_red));
    font-weight: bold;
}

.provider-facebook {
    @include provider(map-get($colors, facebook_blue));
    font-weight: bold;
}