@import 'variables.scss';

/* You can add global styles to this file, and also import other style files */
body {
  color: map-get($colors, light);
  padding: 0 !important;
  margin: 0 !important;
  background: map-get($colors, primary);
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

a {
  outline: none;
}